/*
Author: Cassie Lewis
https://clewisdev.com
Date: March 2023
*/

/****** VARIABLES ******/

:root {
    
    /*COLORS*/
    --white: #FEFEFE;
    --black: #000000;
    --text-input-bg: #EEEEEE;
    --add-button: #FFCC68;
    --delete-button: #FF9548;
    --chore: #FBDF7C;
  
    
    /*BORDER RADIUS*/
    --br-soft: .25rem;
    --br-round: 50%;
    
    /*FONT SIZES*/
    --fs-s: 1rem;
    --fs-buttons: 1.25rem;
    --fs-title: 2.5rem;
    --fs-s-desktop: 1.875rem;
    --fs-title-desktop: 4.375rem;
}

/****** MARGIN AND PADDING RESET ******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* GLOBAL STYLES *******/

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--text-input-bg);    
    margin: 2rem .5rem;
}


h1 {
    font-family: 'Concert One', cursive;
    font-size: var(--fs-title);
    text-align: center;
    margin: 2.75rem 0 3.1875rem 0;
}

/****** INPUT STYLING ******/

input {
    width: 100%;
    background-color: var(--text-input-bg);
    font-size: var(--fs-s);
    text-align: center;
    padding: 2rem 1rem;
    margin-bottom: .5rem;
    border: none;
    border-radius: var(--br-soft);
}

input::placeholder {
    color: gray;
    text-align: center;
    font-size: var(--fs-s);
}

input:hover,
input:focus {
    outline: 3px solid green;       
}

/****** LIST STYLING ******/

ul {
    list-style-type: none;
    text-align: center;
    margin-bottom: 6.6875rem;

    /* border: 5px solid royalblue; */
}

li {
    font-size: var(--fs-s);
    background-color: var(--chore);
    padding: 1rem;
    margin-bottom: .5rem;
    border-radius: var(--br-soft);
}

.li-remove {
    display: none;
}


@media (min-width: 450px) {
    body {
        margin-top: 4rem;
    }
    
    h1 {
        font-size: var(--fs-title-desktop);
    }
    
    input {
        font-size: var(--fs-s-desktop);
        margin-right: .5rem;
        margin-bottom: 1rem;
    }

    input::placeholder {
        font-size: var(--fs-s-desktop);
    }
  
    li {
        font-size: var(--fs-s-desktop);
        padding: 1.5rem;
        margin-bottom: 1rem;
    }
}

/****** LAYOUT ******/

.main-container {
    max-width: 900px;
    background-color: var(--white);
    margin: 1rem auto;
    border: 5px solid black;

}

.choreslist-container {
    max-width: 640px;
    padding: 1rem;
    margin: 0 auto;

    /* border: 5px solid hotpink; */
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    /* border: 5px solid limegreen; */
}

@media (min-width: 450px) {
    .input-container {
        display: flex;
        flex-direction: row;
    }

    .btn-container {
        width: 50%;
    }
}

/****** BUTTONS *****/

button {
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: var(--fs-s-desktop);
    padding: 1rem .25rem;
    margin-bottom:.5rem;
    border: none;
    border-radius: var(--br-soft);
}

button:hover,
button:focus {
    outline: 3px solid green;       
}

button:active {
    transform: scale(.90);
}

.arrow-btn {
    background-color: var(--add-button);
    margin-right: .5rem;
}

.x-btn {
    background-color: var(--delete-button);
}

@media (min-width: 450px) {
    button {
        margin-bottom: 1rem;
    }
}


