/*
Author: Cassie Lewis
https://clewisdev.com
Date: March 2023
*/

/*
COOLORS color palette link
https://coolors.co
*/

/****** VARIABLES ******/

:root {
    
    /*COLORS*/
    --white: #FEFEFE;
    --black: #000000;
    --text-input-bg: #EEEEEE;
    --add-button: #FFCC68;
    --delete-button: #FF9548;
    --chore: #FBDF7C;
  
    
    /*BORDER RADIUS*/
    --br-soft: 1rem;
    --br-round: 50%;
    
    /*FONT SIZES*/
    --fs-xs: 1rem;
    --fs-s: 1.25rem;
    --fs-m: 1.5rem;
    --fs-l: 2.25rem;
    --fs-title: 2.5rem;
}

/****** MARGIN AND PADDING RESET ******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* GLOBAL STYLES *******/


h1 {
    font-family: 'Concert One', cursive;
}

button {
    font-family: 'Inter', sans-serif;
}

/****** LAYOUT ******/
/*TODO TOOLS - FLEXBOX */
/*TODO MOBILE-FIRST LAYOUT: start with 320px wide design 